body{
    margin:0;
    font-family:Arial;

    background-image:url("/static/background.png");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.overlay{
    min-height:100vh;
}

.main-container{
    display:flex;
    justify-content:center;
    gap:40px;
    padding-top:80px;
}

.card{
    background:white;
    padding:60px;
    width:420px;
    border-radius:12px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.upload-box{
    border:2px dashed #ccc;
    height:220px;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
}

#previewImage{
    width:100%;
    height:100%;
    object-fit:cover;
    display:none;
}

button{
    width:100%;
    padding:12px;
    border:none;
    border-radius:8px;
    background:#2fbf71;
    color:white;
    font-weight:bold;
    cursor:pointer;
    margin-top:20px;
}

.result{
    margin:20px 0;
}

.status-box{
    background:#27ae60;
    color:white;
    padding:4px 10px;
    border-radius:6px;
}

#treatmentBox{
    margin-top:15px;
    font-size:14px;
}