<!DOCTYPE html>
<html>
<head>
    <title>TomatoLeaf Doctor</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="overlay">

<header class="header">
    <h2>🌿 TomatoLeaf Doctor</h2>
</header>

<div class="main-container">

<!-- LEFT CARD -->
<div class="card">

<h3>Step 1: Upload Your Tomato Leaf Image</h3>

<div class="upload-box" id="uploadBox">

    <!-- hidden file input -->
    <input type="file" id="imageInput" accept="image/*" hidden>

    <img id="previewImage">

</div>

<button id="uploadBtn">Upload Image</button>

</div>


<!-- RIGHT CARD -->
<div class="card">

<h3>Step 2: Analysis & Treatment.</h3>

<button id="predictBtn">PREDICT DISEASE & TREAT</button>

<p id="loading"></p>

<div class="result">

<p>Disease Name: <span id="diseaseName">-</span></p>

<p>
Confidence Score:
<span id="confidence">-</span>
<span class="bars">📊</span>
</p>

<p>
Status:
<span id="status" class="status-box">-</span>
</p>

</div>

<button id="treatmentBtn">ASK AGENT ABOUT TREATMENT</button>

<div id="treatmentBox"></div>

</div>

</div>

</div>

<script src="/static/script.js"></script>

</body>
</html>